<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Business Registration</li>
            </ol>
            <!--end breadcrumb-->
            
            
            <section class="page-title center">
                <h1>Logical Address for Business</h1>
            </section>
            <!--end page-title-->
            
            <% include ../partials/flash %>
            
            <% if(regstate === 0){ %>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Register</h1>
                    </section>
                    <!--end page-title-->
                    <section>
                        <form id="accountKitLogin" class="form inputs-underline" action="/register/business" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" id="code" name="code">
                            <input type="hidden" id="csrf_nonce" name="csrf_nonce">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <!--<label for="country_code">Country Code:</label>-->
                                        <input type="text" class="form-control" name="country_code"  id="country_code" placeholder="+234">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-9 col-sm-6">
                                    <div class="form-group">
                                        <!--<label for="phone_num">Mobile Number</label>-->
                                        <input type="text" class="form-control" name="phone_num"  id="phone_num" placeholder="Your Mobile Number">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <div class="form-group center">
                                <button type="submit" id="AKLoginBtn" class="btn btn-primary width-100">Next</button>
                            </div>
                        </form>
                        <!--<hr>-->
                        
                        <!--<a data-modal-external-file="#" data-target="modal-sign-in" href="#">Use Alternative Login</a>-->
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <% } %>
            
            <% if(regstate === 1){ %>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Contact Person</h1>
                    </section>
                    <section>
                        <form class="form inputs-underline" action="/register/business" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <!--enr row-->
                            <div class="form-group">
                                <label for="mobile_number">Mobile</label>
                                <input type="text" class="form-control" value="<%= mobile_number %>" name="mobile_number" id="mobile_number" placeholder="Your Mobile Number" <% if(mobile_number){ %>disabled<% } %>>
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            </div>
                            <!--end form-group-->
                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary width-100">Next</button>
                            </div>
                            <!--end form-group-->
                        </form>

                        <!--<hr>-->

                        <!--<p class="center">By clicking on “Register Now” button you are accepting the <a href="terms-conditions.html">Terms & Conditions</a></p>-->
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <% } %>
            
            <% if(regstate === 2){ %>
            <section>
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                        <form method="POST" action="/register/business" class="form inputs-underline">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <section>
                                <h3>About</h3>
                                <div class="row">
                                    <div class="col-md-9 col-sm-9">
                                        <div class="form-group">
                                            <label for="title">Business Name</label>
                                            <input type="text" class="form-control" name="business_name" id="title" placeholder="Title">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-9-->
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="category">Category</label>
                                            <select class="form-control selectpicker" name="category" id="category">
                                                <option value="">Category</option>
                                                <option value="Hospitality">Hospitality</option>
                                                <option value="Event">Event</option>
                                                <option value="Government">Government</option>
                                                <option value="Trader">Trader</option>
                                                <option value="ICT">ICT</option>
                                                <option value="Sport">Sport</option>
                                                <option value="Wellness">Wellness</option>
                                            </select>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--col-md-3-->
                                </div>
                                <!--end row-->
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" rows="4" name="description" placeholder="Describe the business"></textarea>
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="tags">Tags</label>
                                    <input type="text" class="form-control" name="tags" id="tags" placeholder="+ Add tag">
                                </div>
                                <!--end form-group-->
                            </section>
                            <section>
                                <h3>Contact</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="address-autocomplete">Physical Address</label>
                                            <input type="text" class="form-control" name="address" id="address-autocomplete" placeholder="Address">
                                        </div>
                                        <!--end form-group-->
                                            <div class="map height-200px shadow" id="map-submit"></div>
                                        <!--end map-->
                                        <div class="form-group hidden">
                                            <input type="text" class="form-control" id="latitude" name="latitude" hidden="">
                                            <input type="text" class="form-control" id="longitude" name="longitude" hidden="">
                                        </div>
                                        <p class="note">Enter the exact address or drag the map marker to position</p>
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Business Phone</label>
                                            <input type="text" class="form-control" name="mobile_number" id="phone" placeholder="Phone number">
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            <label for="email">Business Email</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="hello@example.com">
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            <label for="website">Business Website</label>
                                            <input type="text" class="form-control" name="website" id="website" placeholder="http://">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                            </section>
                            <section>
                                <h3>Opening Hours<span class="note">(optional)</span></h3>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="accordion-heading-1">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#accordion-collapse-1" aria-expanded="false" aria-controls="accordion-collapse-1">
                                                    <i class="fa fa-clock-o"></i>Add opening hours
                                                </a>
                                            </h4>
                                        </div>
                                        <!--end panel-heading-->
                                        <div id="accordion-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-heading-1">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 horizontal-input-title">
                                                        <strong>Monday</strong>
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="open_hours[]" placeholder="Open">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="close_hours[]" placeholder="Close">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                </div>
                                                <!--end row-->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 horizontal-input-title">
                                                        <strong>Tuesday</strong>
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="open_hours[]" placeholder="Open">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="close_hours[]" placeholder="Close">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                </div>
                                                <!--end row-->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 horizontal-input-title">
                                                        <strong>Wednesday</strong>
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="open_hours[]" placeholder="Open">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="close_hours[]" placeholder="Close">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                </div>
                                                <!--end row-->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 horizontal-input-title">
                                                        <strong>Thursday</strong>
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="open_hours[]" placeholder="Open">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="close_hours[]" placeholder="Close">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                </div>
                                                <!--end row-->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 horizontal-input-title">
                                                        <strong>Friday</strong>
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="open_hours[]" placeholder="Open">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="close_hours[]" placeholder="Close">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                </div>
                                                <!--end row-->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 horizontal-input-title">
                                                        <strong>Saturday</strong>
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="open_hours[]" placeholder="Open">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="close_hours[]" placeholder="Close">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                </div>
                                                <!--end row-->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 horizontal-input-title">
                                                        <strong>Sunday</strong>
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="open_hours[]" placeholder="Open">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="close_hours[]" placeholder="Close">
                                                        </div>
                                                        <!--end form-group-->
                                                    </div>
                                                    <!--end col-md-4-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                        </div>
                                        <!--end panel-collapse-->
                                    </div>
                                    <!--end panel-->
                                </div>
                                <!--end panel-group-->
                            </section>
                            <section>
                                <h3>Restaurant Menu<span class="note">(optional)</span></h3>
                                <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="accordion-heading-2">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-collapse-2" aria-expanded="false" aria-controls="accordion-collapse-2">
                                                    <i class="fa fa-cutlery"></i>Add restaurant menu
                                                </a>
                                            </h4>
                                        </div>
                                        <!--end panel-heading-->
                                        <div id="accordion-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-heading-2">
                                            <div class="panel-body">
                                                <div class="wrapper">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-3"><strong>Title </strong><span class="note">(Optional)</span></div>
                                                        <div class="col-md-6 col-sm-6"><strong>Description</strong></div>
                                                        <div class="col-md-3 col-sm-3"><strong>Meal Type</strong></div>
                                                    </div>
                                                    <!--end row-->
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-3">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="menu_title[]" placeholder="Title">
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-3-->
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="menu_description[]" placeholder="Description">
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-6-->
                                                        <div class="col-md-3 col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control selectpicker" name="menu_type[]">
                                                                    <option value="">Select meal type</option>
                                                                    <option value="Starter">Starter</option>
                                                                    <option value="Soup">Soup</option>
                                                                    <option value="Main Course">Main Course</option>
                                                                    <option value="Desert">Desert</option>
                                                                </select>
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-3-->
                                                    </div>
                                                    <!--end row-->
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-3">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="menu_title[]" placeholder="Title">
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-3-->
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="menu_description" placeholder="Description">
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-6-->
                                                        <div class="col-md-3 col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control selectpicker" name="menu_type[]">
                                                                    <option value="">Select meal type</option>
                                                                    <option value="Starter">Starter</option>
                                                                    <option value="Soup">Soup</option>
                                                                    <option value="Main Course">Main Course</option>
                                                                    <option value="Desert">Desert</option>
                                                                </select>
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-3-->
                                                    </div>
                                                    <!--end row-->
                                                    <div class="row" id="duplicate-meal">
                                                        <div class="col-md-3 col-sm-3">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="menu_title[]" placeholder="Title">
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-3-->
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="menu_description" placeholder="Description">
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-6-->
                                                        <div class="col-md-3 col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control selectpicker" name="menu_type[]">
                                                                    <option value="">Select meal type</option>
                                                                    <option value="Starter">Starter</option>
                                                                    <option value="Soup">Soup</option>
                                                                    <option value="Main Course">Main Course</option>
                                                                    <option value="Desert">Desert</option>
                                                                </select>
                                                            </div>
                                                            <!--end form-group-->
                                                        </div>
                                                        <!--end col-sm-3-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                                <!--end wrapper-->
                                                <div class="center"><a href="#duplicate-meal" class="btn btn-rounded btn-primary btn-framed btn-light-frame btn-xs icon duplicate"><i class="fa fa-plus"></i>Add another meal</a></div>
                                            </div>
                                            <!--end panel-body-->
                                        </div>
                                        <!--end panel-collapse-->
                                    </div>
                                    <!--end panel-->
                                </div>
                                <!--end panel-group-->
                            </section>
                            <hr>
                            <section class="center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-rounded">Register Business</button>
                                </div>
                                <!--end form-group-->
                            </section>
                        </form>
                        <!--end form-->
                    </div>
                    <!--end col-md-6-->
                </div>
                <!--end row-->
            </section>
            <% } %>
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->

<% if(regstate === 0){ %>
<script>
    // initialize Account Kit with CSRF protection
      AccountKit_OnInteractive = function(){
        AccountKit.init(
          {
            appId:<%= FACEBOOK_APP_ID %>, 
            state:"<%= csrfToken %>", 
            version:"<%= ACCOUNT_KIT_API_VERSION %>"
          }
        );
      };
      
    $( document ).ready(function() {
      // login callback
      function loginCallback(response) {
        console.log(response);
        if (response.status === "PARTIALLY_AUTHENTICATED") {
          document.getElementById("code").value = response.code;
          document.getElementById("csrf_nonce").value = response.state;
          $('#AKLoginBtn').text('Bingo! Redirecting..');
          document.getElementById("accountKitLogin").submit();
        }
        else if (response.status === "NOT_AUTHENTICATED") {
          // handle authentication failure
          console.log("NOT_AUTHENTICATED");
          $('#AKLoginBtn').removeAttr('disabled');
          $('#AKLoginBtn').text('Next');
        }
        else if (response.status === "BAD_PARAMS") {
          // handle bad parameters
          console.log("NOT_AUTHENTICATED");
          $('#AKLoginBtn').removeAttr('disabled');
          $('#AKLoginBtn').text('Next');
        }
      }
    
      // phone form submission handler
      function phone_btn_onclick(evt) {
        $('#AKLoginBtn').attr('disabled', 'disabled');
        $('#AKLoginBtn').text('Checking, Please wait..');
        evt.preventDefault();
        var country_code = document.getElementById("country_code").value;
        var ph_num = document.getElementById("phone_num").value;
        AccountKit.login('PHONE', 
          {countryCode: country_code, phoneNumber: ph_num}, // will use default values if this is not specified
          loginCallback);
      }
      $('#AKLoginBtn').on('click', phone_btn_onclick);
    });

</script>
<% } %>
<% include ../partials/footer %>