<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Register</li>
            </ol>
            <!--end breadcrumb-->
            <% if(mobile_number){ %>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <% if(mobile_number){ %><h1>Complete Registration</h1><% } else{ %>  <h1>Register</h1><% } %>
                    </section>
                    <!--end page-title-->
                    <% include ../partials/flash %>
                    <section>
                        <form class="form inputs-underline" action="/register" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <!--enr row-->
                            <div class="form-group">
                                <label for="mobile_number">Mobile</label>
                                <input type="text" class="form-control" value="<%= mobile_number %>" name="mobile_number" id="mobile_number" placeholder="Your Mobile Number" <% if(mobile_number){ %>disabled<% } %>>
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            </div>
                            <!--end form-group-->
                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary width-100"><% if(mobile_number){ %>Complete Registration<% } else{ %>  Register<% } %></button>
                            </div>
                            <!--end form-group-->
                        </form>

                        <!--<hr>-->

                        <!--<p class="center">By clicking on “Register Now” button you are accepting the <a href="terms-conditions.html">Terms & Conditions</a></p>-->
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <% } %>
            
            <% if(!mobile_number){ %>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Register</h1>
                    </section>
                    <!--end page-title-->
                    <section>
                        <form id="accountKitLogin" class="form inputs-underline" action="/login" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" id="code" name="code">
                            <input type="hidden" id="csrf_nonce" name="csrf_nonce">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <!--<label for="country_code">Country Code:</label>-->
                                        <input type="text" class="form-control" name="country_code"  id="country_code" placeholder="+234">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-9 col-sm-6">
                                    <div class="form-group">
                                        <!--<label for="phone_num">Mobile Number</label>-->
                                        <input type="text" class="form-control" name="phone_num"  id="phone_num" placeholder="Your Mobile Number">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <div class="form-group center">
                                <button type="submit" id="AKLoginBtn" class="btn btn-primary width-100">Next</button>
                            </div>
                        </form>
                        <!--<hr>-->
                        
                        <!--<a data-modal-external-file="#" data-target="modal-sign-in" href="#">Use Alternative Login</a>-->
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <% } %>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>

<script>
    // initialize Account Kit with CSRF protection
      AccountKit_OnInteractive = function(){
        AccountKit.init(
          {
            appId:<%= FACEBOOK_APP_ID %>, 
            state:"<%= csrfToken %>", 
            version:"<%= ACCOUNT_KIT_API_VERSION %>"
          }
        );
      };
      
    $( document ).ready(function() {
      // login callback
      function loginCallback(response) {
        console.log(response);
        if (response.status === "PARTIALLY_AUTHENTICATED") {
          document.getElementById("code").value = response.code;
          document.getElementById("csrf_nonce").value = response.state;
          $('#AKLoginBtn').text('Bingo! Redirecting..');
          document.getElementById("accountKitLogin").submit();
        }
        else if (response.status === "NOT_AUTHENTICATED") {
          // handle authentication failure
          console.log("NOT_AUTHENTICATED");
          $('#AKLoginBtn').removeAttr('disabled');
          $('#AKLoginBtn').text('Login via SMS');
        }
        else if (response.status === "BAD_PARAMS") {
          // handle bad parameters
          console.log("NOT_AUTHENTICATED");
          $('#AKLoginBtn').removeAttr('disabled');
          $('#AKLoginBtn').text('Login via SMS');
        }
      }
    
      // phone form submission handler
      function phone_btn_onclick(evt) {
        $('#AKLoginBtn').attr('disabled', 'disabled');
        $('#AKLoginBtn').text('Checking, Please wait..');
        evt.preventDefault();
        var country_code = document.getElementById("country_code").value;
        var ph_num = document.getElementById("phone_num").value;
        AccountKit.login('PHONE', 
          {countryCode: country_code, phoneNumber: ph_num}, // will use default values if this is not specified
          loginCallback);
      }
      $('#AKLoginBtn').on('click', phone_btn_onclick);
    });

</script>
<!--end page-wrapper-->
<% include ../partials/footer %>