<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">User Profile</li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title center">
                <h1>Your Profile</h1>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                        <form class="form inputs-underline" action="/user/update" method="POST">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <section>
                                <div class="user-details box">
                                    <div class="user-image">
                                        <div class="image">
                                            <div class="bg-transfer"><img src="/assets/img/avater.jpg" alt=""></div>
                                            <!--end bg-transfer-->
                                            <div class="single-file-input">
                                                <input type="file" id="user_image" name="user_image">
                                                <!--<div>Upload a picture<i class="fa fa-upload"></i></div>-->
                                            </div>
                                        </div>
                                        <!--end image-->

                                    </div>
                                    <!--end user-image-->
                                    <div class="description clearfix">
                                        <h3><%= user.first_name %> <%= user.last_name %></h3>
                                        <h2><%= user.global_logical_address %></h2>
                                        <!--<a href="#" class="btn btn-default btn-rounded btn-xs">Change</a>-->
                                        <hr>
                                        <figure>
                                            <div class="pull-left">Account Type</div>
                                            <div class="pull-right"><strong><%= user.account_type %></strong></div>
                                        </figure>
                                    </div>
                                    <!--end description-->
                                </div>
                            </section>
                            <!--end user-details-->
                            <section>
                                <h3>About You</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="first_name">First Name</label>
                                            <input type="text" class="form-control" name="first_name" id="first_name" disabled="disabled" value="<%= user.first_name %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="last_name">Last Name</label>
                                            <input type="text" class="form-control" name="last_name" id="last_name" disabled="disabled" value="<%= user.last_name %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" value="<%= user.email %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" name="phone" id="phone" disabled="disabled" value="<%= user.mobile_number %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->
                                <div class="form-group">
                                    <label for="message">About You</label>
                                    <textarea class="form-control" id="message" rows="2" name="about" placeholder="Something about me"><%= user.about %></textarea>
                                </div>
                                <!--end form-group-->
                            </section>
                            <section>
                                <h3>Your Social Networks</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="facebook">Facebook</label>
                                            <input type="text" class="form-control" name="facebook" id="facebook" placeholder="Facebook" value="<%= user.facebook %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="twitter">Twitter</label>
                                            <input type="text" class="form-control" name="twitter" id="twitter" placeholder="Twitter" value="<%= user.twitter %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="pinterest">Pinterest</label>
                                            <input type="text" class="form-control" name="pinterest" id="pinterest" placeholder="Pinterest" value="<%= user.pinterest %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="youtube">Youtube</label>
                                            <input type="text" class="form-control" name="youtube" id="youtube" placeholder="Youtube" value="<%= user.youtube %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->
                            </section>
                            <section class="center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-rounded">Save Changes</button>
                                </div>
                                <!--end form-group-->
                            </section>
                        </form>
                        <!--end form-->
                        <hr>
                    </div>
                    <!--end col-md-6-->
                </div>
                <!--end row-->
            </section>
            <section>
                <section>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                            <h3 class="center">Change Your Password</h3>
                            <form class="form inputs-underline" action="/password/update" method="POST">
                            <input type="hidden" name="_method" value="put">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="form-group">
                                    <label for="current_password">Current Password</label>
                                    <input type="password" class="form-control" name="current_password" id="current_password" value="">
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="new_password">New Password</label>
                                    <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password">
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="confirm_new_password">Confirm New Password</label>
                                    <input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" placeholder="Confirm New Password">
                                </div>
                                <!--end form-group-->
                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary btn-framed btn-rounded btn-light-frame">Change Password</button>
                                </div>
                                <!--end form-group-->
                            </form>
                        </div>
                    </div>
                </section>
            </section>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>